body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }


/* Heading style */
.heading {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px; 
    color: #0e3dd6; 
}

#start,
#end,
button {
    margin-right: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: hsl(107, 39%, 49%);
    color: rgba(8, 8, 8, 0.797);
    font-size: 14px;
}

button:hover {
    background-color: #d6c619;
}